services:
  main:
    build:
      context: .
      dockerfile: ./build/main.Dockerfile
    ports:
      - "${PORT}:${PORT}"
    environment:
      POSTGRES_HOST: ${POSTGRES_HOST}
      POSTGRES_USER: ${POSTGRES_USER}          
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}  
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_PORT: ${POSTGRES_PORT}   
    depends_on:
      postgres:
        condition: service_healthy

    networks:
      - avito-backend-autumn-2025-network

  postgres:
    image: postgres:15            
    container_name: my-postgres-avito   
    environment:
      POSTGRES_USER: ${POSTGRES_USER}          
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}  
      POSTGRES_DB: ${POSTGRES_DB}              
    networks:
      - avito-backend-autumn-2025-network
    volumes:
      - pgdata:/var/lib/postgresql/data        
    ports:
      - "${POSTGRES_PORT}:5432"                
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5
    
  migrate:
    build:
      context: .
      dockerfile: ./build/migrate.Dockerfile
    depends_on:
      postgres:
          condition: service_healthy
    environment:
      GOOSE_DRIVER: postgres
      GOOSE_DBSTRING: postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}?sslmode=disable
    command: ["up"]
    networks:
      - avito-backend-autumn-2025-network

volumes:
  pgdata:   

networks:
  avito-backend-autumn-2025-network:
    driver: bridge

